# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("cities.csv")

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps, latitude, longitude and humidity
gmaps.configure(api_key=g_key)

locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)
fig.add_layer(heat_layer)

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
116,Umluj,0,SA,1603672355,49,25.02,37.27,78.33,2.71
125,Gaza,0,PS,1603672358,88,31.50,34.47,73.99,2.24
127,Salalah,0,OM,1603672087,64,17.02,54.09,75.20,2.24
134,Kayes,0,ML,1603672361,20,14.00,-11.00,78.06,2.62
147,Siavonga,0,ZM,1603672365,42,-16.54,28.71,78.96,3.40
190,Robertsport,0,LR,1603672378,85,6.75,-11.37,78.73,7.00
253,Victoria Point,0,AU,1603672396,79,-27.58,153.30,78.01,3.00
259,Tessalit,0,ML,1603672185,16,20.20,1.01,77.47,8.52
297,Arlit,0,NE,1603672409,18,18.74,7.39,75.31,7.81
324,Bagé,0,BR,1603672417,83,-31.33,-54.11,73.40,5.82
336,Sokoto,0,NG,1603672420,24,13.06,5.24,79.63,7.49
351,Sompeta,0,IN,1603672425,76,18.93,84.60,76.50,5.19
388,Bilma,0,NE,1603672086,22,18.69,12.92,71.74,9.28
436,Dayong,0,CN,1603672450,56,25.02,118.29,73.40,4.47
451,Sur,0,OM,1603672088,61,22.57,59.53,72.66,6.33
500,Islamkot,0,PK,1603672468,46,24.70,70.18,75.07,6.46
504,Pitimbu,0,BR,1603672469,88,-7.47,-34.81,77.00,4.70
531,Doha,0,QA,1603672478,83,25.29,51.53,78.80,3.36
543,Xushan,0,CN,1603672484,72,30.18,121.25,71.01,2.24
547,Morondava,0,MG,1603672486,63,-20.28,44.28,74.70,4.88
550,Safaga,0,EG,1603672034,44,26.73,33.94,77.00,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [7]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

               City Country    Lat     Lng Hotel Name
116           Umluj      SA  25.02   37.27
125            Gaza      PS  31.50   34.47
127         Salalah      OM  17.02   54.09
134           Kayes      ML  14.00  -11.00
147        Siavonga      ZM -16.54   28.71
190     Robertsport      LR   6.75  -11.37
253  Victoria Point      AU -27.58  153.30
259        Tessalit      ML  20.20    1.01
297           Arlit      NE  18.74    7.39
324            Bagé      BR -31.33  -54.11
336          Sokoto      NG  13.06    5.24
351         Sompeta      IN  18.93   84.60
388           Bilma      NE  18.69   12.92
436          Dayong      CN  25.02  118.29
451             Sur      OM  22.57   59.53
500        Islamkot      PK  24.70   70.18
504         Pitimbu      BR  -7.47  -34.81
531            Doha      QA  25.29   51.53
543          Xushan      CN  30.18  121.25
547       Morondava      MG -20.28   44.28
550          Safaga      EG  26.73   33.94

In [9]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")

Retrieving Results for Index 116: Umluj.
Missing field/result... skipping.
------------
Retrieving Results for Index 125: Gaza.
Missing field/result... skipping.
------------
Retrieving Results for Index 127: Salalah.
Missing field/result... skipping.
------------
Retrieving Results for Index 134: Kayes.
Missing field/result... skipping.
------------
Retrieving Results for Index 147: Siavonga.
Missing field/result... skipping.
------------
Retrieving Results for Index 190: Robertsport.
Missing field/result... skipping.
------------
Retrieving Results for Index 253: Victoria Point.
Missing field/result... skipping.
------------
Retrieving Results for Index 259: Tessalit.
Missing field/result... skipping.
------------
Retrieving Results for Index 297: Arlit.
Missing field/result... skipping.
------------
Retrieving Results for Index 324: Bagé.
Missing field/result... skipping.
------------
Retrieving Results for Index 336: Sokoto.
Missing field/result... skipping.
------------
Retrieving Results for Index 351: Sompeta.
Missing field/result... skipping.
------------
Retrieving Results for Index 388: Bilma.
Missing field/result... skipping.
------------
Retrieving Results for Index 436: Dayong.
Missing field/result... skipping.
------------
Retrieving Results for Index 451: Sur.
Missing field/result... skipping.
------------
Retrieving Results for Index 500: Islamkot.
Missing field/result... skipping.
------------
Retrieving Results for Index 504: Pitimbu.
Missing field/result... skipping.
------------
Retrieving Results for Index 531: Doha.
Missing field/result... skipping.
------------
Retrieving Results for Index 543: Xushan.
Missing field/result... skipping.
------------
Retrieving Results for Index 547: Morondava.
Missing field/result... skipping.
------------
Retrieving Results for Index 550: Safaga.
Missing field/result... skipping.
------------

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display Map